<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gerenciamento de Licitações</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ url_for('static', filename='scripts/admin.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/admin.css') }}">



</head>

<body>

    <h1>Sistema de Gerenciamento</h1>

    <div class="tabs">
        <div class="tab-link active" onclick="openTab(event, 'fornecedor')">Gestão de Fornecedores</div>
        <div class="tab-link" onclick="openTab(event, 'licitacoes')">Gestão de Licitações</div>
    </div>

    <div id="fornecedor" class="tab-content active">
        <div class="section-header">
            <h3>Fornecedores Cadastrados</h3>
            <button onclick="openModal('cadastroFornecedorModal')">Cadastrar Fornecedor</button>
        </div>

        {% if fornecedores %}
        <table>
            <thead>
                <tr>
                    <th>Razão Social</th>
                    <th>CNPJ</th>
                </tr>
            </thead>
            <tbody>
                {% for fornecedor in fornecedores %}
                <tr>
                    <td>{{ fornecedor.razao_social }}</td>
                    <td>{{ fornecedor.cnpj }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p style="color: gray;">Sem fornecedores cadastrados.</p>
        {% endif %}
    </div>


    <div id="licitacoes" class="tab-content">
        <div class="section-header">
            <h3>Licitações Cadastradas</h3>
            <button onclick="openModal('cadastroLicitacaoModal')">Cadastrar Nova Licitação</button>
        </div>
        {% if licitacoes %}
        <table>
            <thead>
                <tr>
                    <th>Empresa</th>
                    <th>Responsavel</th>
                    <th>CNPJ</th>
                    <th>Objeto da Licitação</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for licitacao in licitacoes %}
                <tr>
                    <td>{{ licitacao.empresa }}</td>
                    <td>{{ licitacao.responsavel }}</td>
                    <td>{{ licitacao.cnpj }}</td>
                    <td>{{ licitacao.objeto }}</td>
                    <td>
                        <button onclick="abrirModalVincular('{{ licitacao.id }}','{{ licitacao.empresa }}')" class="btn-vincular">
                            Vincular Fornecedores
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p style="color: gray;">Sem licitações cadastrados.</p>
        {% endif %}
    </div>


    <div id="cadastroFornecedorModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Cadastro de Fornecedor</h3>
                <span class="close" onclick="closeModal('cadastroFornecedorModal')">&times;</span>
            </div>
            <form id="formCadastroFornecedor" method="POST" onsubmit="return cadastrarFornecedor(event)">
                <!-- DADOS DA EMPRESA -->
                <h4>Dados da Empresa</h4>
                <label>Razão Social:</label>
                <input type="text" name="razao_social" required>
                <label>CNPJ:</label>
                <input type="text" name="cnpj" required oninput="formatarCNPJ(this)">
                <label>Senha:</label>
                <input type="password" name="senha" required>
                <label>Inscrição Estadual:</label>
                <input type="text" name="inscricao_estadual">
                <label>Endereço:</label>
                <input type="text" name="endereco" required>
                <label>Cidade:</label>
                <input type="text" name="cidade" required>
                <label>Telefone:</label>
                <input type="text" name="telefone" required oninput="formatarTelefone(this)">
                <label>Email:</label>
                <input type="email" name="email" required>
                <label>Logomarca:</label>
                <input type="file" id="logomarca" name="logomarca" accept=".jpeg,.png,.jpg" required>

                <!-- DADOS BANCÁRIOS -->
                <h4>Dados Bancários</h4>
                <label>Agência:</label>
                <input type="text" name="agencia" required>
                <label>Conta Corrente:</label>
                <input type="text" name="conta_corrente" required>
                <label>Banco:</label>
                <input type="text" name="banco" required>

                <!-- DADOS DO PREPOSTO -->
                <h4>Dados do Preposto</h4>
                <label>Nome:</label>
                <input type="text" name="preposto_nome" required>
                <label>RG:</label>
                <input type="text" name="preposto_rg" required>
                <label>CPF:</label>
                <input type="text" name="preposto_cpf" required oninput="formatarCPF(this)">
                <label>Cargo/Função:</label>
                <input type="text" name="preposto_cargo" required>
                <label>Estado Civil:</label>
                <input type="text" name="preposto_estado_civil" required>
                <label>Telefone/WhatsApp:</label>
                <input type="text" name="preposto_telefone" required oninput="formatarTelefone(this)">
                <label>Email:</label>
                <input type="email" name="preposto_email" required>

                <button type="submit">Cadastrar Fornecedor</button>
            </form>
        </div>
    </div>


    <div id="cadastroLicitacaoModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Cadastrar Nova Licitação</h3>
                <span class="close" onclick="closeModal('cadastroLicitacaoModal')">&times;</span>
            </div>
            <form id="formCadastroLicitacao" onsubmit="return cadastrarLicitacao(event)">

                <label for="objeto">Objeto da Licitação:</label>
                <input type="text" id="objeto" name="objeto" required>

                <label for="objeto">Pregão Eletrônico Nº:</label>
                <input type="text" id="pregao" name="pregao_eletronico" required>

                <label for="objeto">Processo Administrativo N°:</label>
                <input type="text" id="processo" name="processo" required>

                <label for="empresa">Nome da Empresa:</label>
                <input type="text" id="empresa" name="empresa" required>

                <label for="cnpj">CNPJ:</label>
                <input type="text" id="cnpj" name="cnpj" oninput="formatarCNPJ(this)" required>

                <label for="responsavel">Responsável pelo envio:</label>
                <input type="text" id="responsavel" name="responsavel" required>

                <label for="email">E-mail de contato:</label>
                <input type="email" id="email" name="email" required>

                <label for="telefone">Telefone de contato:</label>
                <input type="text" id="telefone" name="telefone" oninput="formatarTelefone(this)" required>

                <label for="arquivo">Anexar Edital:</label>
                <input type="file" id="arquivo" name="arquivo" accept=".pdf,.doc,.docx" required>

                <button type="submit">Cadastrar Licitação</button>
            </form>
        </div>
    </div>


    <div id="vincularFornecedorModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Vincular fornecedores à <b id="nomeEmpresaModal"></b></h3>
                <span class="close" onclick="closeModal('vincularFornecedorModal')">&times;</span>
            </div>
            <form id="formVincularFornecedores" onsubmit="registrarVinculos(event)">
                <input type="hidden" id="licitacaoId" name="licitacao_id">
                <table>
                    <thead>
                        <tr>
                            <th>Selecionar</th>
                            <th>Razão Social</th>
                            <th>CNPJ</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyFornecedoresModal">

                    </tbody>
                </table>
                <br>
                <button type="submit">Salvar Vínculos</button>
            </form>
        </div>
    </div>




</body>

</html>