<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Licitações Disponíveis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
    <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>

</head>

<body>

    <h1>Licitações Disponíveis</h1>

    {% if licitacoes %}
    <table>
        <thead>
            <tr>
                <th>Empresa</th>
                <th>CNPJ</th>
                <th>Objeto</th>
                <th>Edital</th>
                <th>Proposta</th>
            </tr>
        </thead>
        <tbody>
            {% for licitacao in licitacoes %}
            <tr>
                <td>{{ licitacao.empresa }}</td>
                <td>{{ licitacao.cnpj }}</td>
                <td>{{ licitacao.objeto }}</td>
                <td>           
<a href="{{ url_for('licitacao.obter_arquivo', pathArquivo=licitacao.caminho_arquivo.replace('\\', '/').replace('uploads/', '')) }}"
   target="_blank" class="btn-download">Visualizar Edital</a>
                </td>
                <td>
                      <a href="{{ url_for('proposta.carregar_proposta', idLicitacao=licitacao.id) }}" class="btn-proposta">Enviar Proposta</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="sem-licitacoes">Nenhuma licitação disponível no momento.</p>
    {% endif %}

</body>

</html>
